blossomBot.json
[{"id":"bc740d23.438bf","type":"websocket-listener","path":"/ws/chat","wholemsg":"false"},{"id":"398d2e6e.c672d2","type":"arduino-board","device":"/dev/cu.usbmodem1431"},{"id":"d3effa29.2c1008","type":"arduino out","name":"","pin":"13","state":"OUTPUT","arduino":"398d2e6e.c672d2","x":728,"y":235,"z":"1773d88f.e88c27","wires":[]},{"id":"499a5727.b665a8","type":"function","name":"Toggle output on input","func":"\n// initialise level as a context variable if currently undefined \n// (context variables persist between calls to the function)\ncontext.level = context.level || false;\n\n// if it's a 0 make it a 1 else make it a 0...\ncontext.level = !context.level;\n\n// set the payload to the level and return\nmsg.payload = context.level;\nreturn msg;","outputs":1,"x":451,"y":233,"z":"1773d88f.e88c27","wires":[["d3effa29.2c1008"]]},{"id":"b323aa72.4cdc58","type":"twitter in","twitter":"","tags":"iot","user":"false","name":"iot","topic":"tweets","x":130,"y":173,"z":"1773d88f.e88c27","wires":[[]]},{"id":"9b098c13.64f67","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":690,"y":171,"z":"1773d88f.e88c27","wires":[]},{"id":"6c314800.93ceb8","type":"file","name":"msg_log","filename":"cliff.log","appendNewline":true,"overwriteFile":"false","x":726,"y":300,"z":"1773d88f.e88c27","wires":[]},{"id":"1dc26d35.e23d93","type":"function","name":"counter","func":"msg.payload = parseInt(msg.payload) + 1;\nreturn msg;","outputs":"1","x":955,"y":488,"z":"1773d88f.e88c27","wires":[["34d75106.cb28ae"]]},{"id":"f1c4be82.0e3b4","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":954,"y":418,"z":"1773d88f.e88c27","wires":[[]]},{"id":"34d75106.cb28ae","type":"debug","name":"","active":true,"console":false,"complete":false,"x":1257,"y":487,"z":"1773d88f.e88c27","wires":[]},{"id":"a2733217.5d8cd","type":"inject","name":"Single Co-ord","topic":"","payload":"[{\"lat\":54.9696456,\"lng\":-1.5069755}]","payloadType":"string","repeat":"","crontab":"","once":false,"x":121,"y":234,"z":"1773d88f.e88c27","wires":[["499a5727.b665a8","9b098c13.64f67","6c314800.93ceb8"]]},{"id":"ebb79fa1.14486","type":"websocket in","name":"","server":"bc740d23.438bf","x":221,"y":399,"z":"1773d88f.e88c27","wires":[["44f98886.bb0678"]]},{"id":"44f98886.bb0678","type":"function","name":"","func":"delete msg._session;\nreturn msg;\n\n","outputs":1,"x":395,"y":399,"z":"1773d88f.e88c27","wires":[["72d76a4e.8d2894"]]},{"id":"72d76a4e.8d2894","type":"websocket out","name":"","server":"bc740d23.438bf","x":576,"y":399,"z":"1773d88f.e88c27","wires":[]},{"id":"c777027a.3889","type":"http in","name":"","url":"/chat","method":"get","x":229,"y":467,"z":"1773d88f.e88c27","wires":[["271a5994.d8e5a6"]]},{"id":"271a5994.d8e5a6","type":"template","name":"","template":"<head>\n\t<meta name=\"viewport\" content=\"width=320, initial-scale=1\">\n  <title>Chat</title>\n</head>\n\n<body>\n  <div id=\"wrapper\">\n    <div id=\"chat_box\" class=\"content\"></div>\n\n    <div id=\"footer\">\n      <div class=\"content\">\n        <input type=\"text\" id=\"user\" placeholder=\"Who are you?\" />\n        <input type=\"text\" id=\"message\" placeholder=\"What do you want to say?\" />\n        <input type=\"button\" id=\"send_btn\" value=\"Send\" onclick=\"sendMessage()\">\n      </div>\n    </div>\n  </div>\n</body>\n\n<script type=\"text/javascript\">\n  var wsUri = \"ws://{{req.headers.host}}/ws/chat\";\n  var ws = new WebSocket(wsUri);\n\n  function createSystemMessage(message) {\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.className = 'system';\n\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  function createUserMessage(user, message) {\n    var user = document.createTextNode(user + ': ');\n\n    var userBox = document.createElement('span');\n    userBox.className = 'username';\n    userBox.appendChild(user);\n\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.appendChild(userBox);\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  ws.onopen = function(ev) {\n    createSystemMessage('[Connected]');\n  };\n\n  ws.onclose = function(ev) {\n    createSystemMessage('[Disconnected]');\n  }\n\n  ws.onmessage = function(ev) {\n    var payload = JSON.parse(ev.data);\n    createUserMessage(payload.user, payload.message);\n\n    var chat = document.getElementById('chat_box');\n    chat.scrollTop = chat.scrollHeight;\n  }\n\n  function sendMessage() {\n    var user = document.getElementById('user');\n    var message = document.getElementById('message');\n\n    var payload = {\n      message: message.value,\n      user: user.value\n    };\n\n    ws.send(JSON.stringify(payload));\n    message.value = \"\";\n  };\n\n</script>\n\n<style type=\"text/css\">\n\t* {\n\t  font-family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\n\t  font-style: italic;\n\t  font-size: 24px;\n\t}\n\n\thtml, body, #wrapper {\n   margin: 0;\n   padding: 0;\n   height: 100%;\n  }\n\n\t#wrapper {\n    background-color: #ecf0f1;\n  }\n\n  #chat_box {\n    box-sizing: border-box;\n    height: 100%;\n    overflow: auto;\n    padding-bottom: 50px;\n  }\n\n  #footer {\n    box-sizing: border-box;\n    position: fixed;\n    bottom: 0;\n    height: 50px;\n    width: 100%;\n    background-color: #2980b9;\n  }\n\n  #footer .content {\n    padding-top: 4px;\n    position: relative;\n  }\n\n  #user { width: 20%; }\n  #message { width: 68%; }\n  #send_btn {\n    width: 10%;\n    position: absolute;\n    right: 0;\n    bottom: 0;\n    margin: 0;\n  }\n\n  .content {\n    width: 70%;\n    margin: 0 auto;\n  }\n\n  input[type=\"text\"],\n  input[type=\"button\"] {\n    border: 0;\n    color: #fff;\n  }\n\n  input[type=\"text\"] {\n    background-color: #146EA8;\n    padding: 3px 10px;\n  }\n\n  input[type=\"button\"] {\n    background-color: #f39c12;\n    border-right: 2px solid #e67e22;\n    border-bottom: 2px solid #e67e22;\n    min-width: 70px;\n    display: inline-block;\n  }\n\n  input[type=\"button\"]:hover {\n    background-color: #e67e22;\n    border-right: 2px solid #f39c12;\n    border-bottom: 2px solid #f39c12;\n    cursor: pointer;\n  }\n\n  .system,\n  .username {\n    color: #aaa;\n    font-style: italic;\n    font-family: monospace;\n    font-size: 16px;\n  }\n\n  @media(max-width: 1000px) {\n    .content { width: 90%; }\n  }\n\n  @media(max-width: 780px) {\n    #footer { height: 91px; }\n    #chat_box { padding-bottom: 91px; }\n\n    #user { width: 100%; }\n    #message { width: 80%; }\n  }\n\n  @media(max-width: 400px) {\n    #footer { height: 135px; }\n    #chat_box { padding-bottom: 135px; }\n\n    #message { width: 100%; }\n    #send_btn {\n      position: relative;\n      margin-top: 3px;\n      width: 100%;\n    }\n  }\n</style>\n","x":395,"y":467,"z":"1773d88f.e88c27","wires":[["a54e12cb.5ab1f"]]},{"id":"a54e12cb.5ab1f","type":"http response","name":"","x":538,"y":467,"z":"1773d88f.e88c27","wires":[]}]
